<div class="container-fluid p-0 m-0" id="background-image">  
</div>
<div id="login" class="col-md-12 my-4 d-flex justify-content-center align-content-center">
    <div class="col-md-4 row d-flex justify-content-center "  style="height: 600px;">
        <div id="icono" class="col-md-10 d-flex justify-content-center">
            <img  class="col-md-6 img-fluid" src="../../assets/iconos/icono1.png">           
        </div>
        <div id="login-date"  class="col-md-12 row d-flex justify-content-center">
            <form class="col-md-10 py-1" style="background-color: rgb(201, 22, 22);">
                <div class="m-1 form-group">
                <label id="label-mail" for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="m-1 form-group">
                <label id="label-password"  for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                
            </form>
            <div class="col-md-12 py-3 d-flex justify-content-center" style="background-color: transparent !important">
                <button class="btn" style="background-color: rgb(201, 22, 22);" (click)="logIn()">Ingresar</button>
            </div>
            
        </div>
    </div>
</div>
