#background-image{
    background-image: url('../../assets/images/bar-gbc6df3f11_1920.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    filter: brightness(0.4);
    position: absolute;
    z-index: 1;
    margin: 0 !important;
    padding: 0 !important;
}

#login{
    position: absolute;
    z-index: 3;
    height: 100vh;
    
}

#login-2{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    
}


button{
    color: white;
}

#icono{
    background-color: transparent !important;
}

#icono img{
    height: 300px;
    width: 300px;
}

#login-date{
    background-color: transparent !important;
}

#label-mail, #label-password{
    width: 100%;
    background-color: rgb(201, 22, 22);
    color: white;
}

@media (max-width: 480px) {
    #icono img{
        height: 180px;
        width: 180px;
    }

    #login-2{
        height: 380;
    }

    
    
}