 <div  id="platos" class="container-fluid vh-100">
    <div class="col-lg-12 d-flex justify-content-center p-0 m-0">
        <img id="icono" class="col-lg-4 col-md-6 img-fluid" src="../../assets/iconos/icono1.png">     
        <div id="log-out" class="col-lg-12 col-12 d-flex justify-content-end p-3">
            
            <button class="btn col-md-1 col-3" style="background-color: rgb(201, 22, 22);" (click)="logOut()">Cerrar session</button>
        </div> 
    </div>
      
    <div id="menu" class="container-fluid p-0 m-0">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-8">
                <p class="col-lg-12 text-center" style="font-size: 2rem;"> Platos</p>
                <div class="d-flex justify-content-center">
                    <hr style="width: 50%;">
                </div>
                <div class="col-lg-12 pt-2">
                    <div class="row">
                            <div id="list_dishes" class="col-lg-6"  *ngFor="let plato of platos; let i=index">
                                <div class="row">
                                    <label class="col-lg-1 col-1" (click)="checkCombinationOfDishes(i)">
                                        <input class="dish-check" type="checkbox" id="dish_{{plato['data']['id']}}" value="first_checkbox">
                                    </label>
                                    <div class="col-lg-11 col-11 d-flex justify-content-between">
                                        <a class="col-lg-10 popup text-left" (click)="showDish(i)">
                                            {{plato['data']['title'] | slice:0:40 }} <b *ngIf="plato['data']['vegan']" style="color: rgb(121, 16, 16)">(vegano)</b>
                                        </a>
                                        {{plato['data']['price']}}
                                    </div>
                                </div>
                                
                            </div>
                            <div id="dish_check" class="py-4 d-flex justify-content-center" *ngIf="platos">
                                <div id="dish-info" class="col-lg-8">
                                    <div class="row d-flex justify-content-between">
                                        <div class="col-lg-6">
                                            <p class="text-center">{{title_dish}}</p>
                                            <div id="dish-info-2" class="px-2">
                                                <p>Tiempo de coccion: {{time_dish}}</p>
                                                <p>Health Score: {{hs_dish}}</p>
                                                <p>Tipo de plato: {{type_dish}}</p>
                                            </div>

                                            
                                        </div>
                                        <div class="col-lg-6 d-flex justify-content-center">
                                            <img src="{{img_dish}}" id="img_dish" class="img-fluid">
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                    </div>
                    
                </div>
            </div>
            <div id="order" class="col-lg-3 px-4">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <p class="col-lg-12 text-center" style="font-size: 2rem;"> Detalle del menu </p>
                    </div>
                    <hr>
                    <div class="pt-2">
                        <div id="healt-score" class="d-flex justify-content-end">
                            <p class="col-lg-12 text-end">Healt Score: {{health_score | number: '2.1'}}%</p>
                        </div>
                        <div id="platos-menu">
                        </div>
                        <hr>
                        <div class="col-lg-12">
                            <div class="row d-flex justify-content-between">
                                <p class="col-md-4 col-lg-3">Total</p>
                                <p class="col-md-4 col-lg-4 text-end">${{total_menu | number: '2.2' }}</p>
                            </div>
                            <div id="mistake">
                                <p>{{type_mistake}}</p>
                            </div>
                            <div id="btn-confirm" class="col-lg-12 d-flex justify-content-center">
                                <button class="btn" style="background-color: rgb(201, 22, 22);" (click)="sendOrder()">Confirmar menu</button>
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>
<app-order-ready id="order-ready"></app-order-ready>