#platos{
    position: absolute;
    z-index: 1;
    background-image: url('../../assets/fondos/rough-dark-brown-texture-free-photo.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

*{
    color: black;
    font-weight: bolder;
}

#form-search-dish input{
    background-color: transparent;
    background-image: url("../../assets/iconos/search.png");
    background-repeat: no-repeat;
    background-position: right;
    border:none;
    border-bottom: 1px solid black;
    padding: 5px 10px;
    outline: none;
    color: rgb(22, 21, 21);
}

::placeholder{
    color: rgb(48, 45, 45);
}

#show-order{
    display: none;
}

#icono{
    height: 120px;
    width: 120px;
}

#log-out{
    position: absolute;
    z-index: 5;
    opacity: 0.5;
}

label b{
    color: rgb(10, 46, 24);
    font-weight: normal;
}

#platos-menu{
    height: 250px;
}

hr{
    margin: 0;
    opacity: 1;
    color: black;
    height: 3px;
}

.list_dishes{
    position: relative;
    z-index: 1;
}

#dish_check{
    color: black !important;
    
}

#dish-info{
    border-style: solid !important;
}

#img_dish{
    height: 200px;
    width: 350px;
}

#mistake{
    height: 50px;
}

#mistake p{
    color: rgb(121, 16, 16) !important;
}

#order-ready{
    display: none;
}

button{
    color: white;
}

@media (max-width: 770px) {


    #icono{
        height: 110px;
        width: 110px;
    }
    
    #show-order{
        display: block;
    }
    
    #platos{
        background-attachment: fixed;
        overflow: scroll;
    }

    #platos-menu{
        height: 240px;
        font-size: 0.8rem;
    }

    #mistake{
        height: 30px;
    }

    #btn-confirm {
        margin: 3% 0;
    }

    #list_dishes{
        font-size: 0.8rem;
    }

    #log-out{
        padding: 0 !important;
        margin: 0;
        
    }

    #log-out button{
        font-size: 0.7rem;
    }

    #dish-info-2{
        font-size: 0.7rem;
    }

    #img-dish{
        height: 150px;
    }
    
}

@media (max-width: 1023px) {

    #platos-menu{
        height: 260px;
        font-size: 0.7rem;
    }
    
}